.settings {
  .slider {
    padding: 0;
    margin: 0 2em;
    rzslider span.rz-bubble {
      bottom: 18px;
      color: #ccc;
    }
  }
  rzslider span.rz-bar.rz-selection {
    background: #fff;
  }
  .email-time {
    span {
      color: #fff;
      font-weight: $font-bold;
      border-bottom: 2px solid;
      font-size: 1.2em;
    }
  }
  rzslider span.rz-bar-wrapper {
    margin-top: -16px;
  }
  rzslider span.rz-pointer {
    top:-14px;
  }
}
.add-project {
  > .row {
    padding: 0 2em;
  }
  p {
    color:#ccc;
    padding: 0;
  }
}
.projects-settings {
  background: rgba(255, 255, 255, 0.18);
  margin-top: -2em;
  h1 {
    color: #fff;
    margin: 2em 0 0 0;
    font-size: 1.5em;
  }
  .header {
    padding-bottom: 1em;
  }
  h2 {
    font-size: 1.2em;
    color: #fff;
  }
  .form-control {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.58);
    border-radius: 50px;
    border:2px solid #fff;
  }
}
// Treeview overwrites
.node-selected:after {
  content: "→";
  position: absolute;
  right: 10px;
  font-size: 1.5em;
  top: 0.3em;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.list-group-item.node-treeview-expandible.node-selected {
  background: $brand-primary!important;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: transparent;
  border:none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.57);
  color: #fff;
}

.project-item {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  font-size: 1.2em;
  padding: 0.4em;
  border:none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.57);
  color:#fff;
  a {
    color: #fff;
  }
}
.node-treeview-expandible:not(.node-disabled):hover {
  background-color: rgba(255, 255, 255, 0.25)!important;
}
@for $i from 1 to 10 {
  .project-item:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
}
