.acme-navbar-text{
  color: white;
}
.navbar {
  padding: 0.3em;
  background: rgba(82,82,82,0.88);
}
.navbar-nav  {
  margin-top: 0.7em;
  li {
    margin-right: 1em;
    margin-bottom: 0.5em;
    a {
      border-radius: $border-radius-large;
      padding: 1em 1em;
      text-transform: uppercase;
      padding: 0.7em 1.5em;
      color: #fff;
      letter-spacing: 0.1em;
      font-weight: $font-bold;
      font-size: 0.8em;
      &:hover, &:active, &:focus {
        background: transparent;
      }
    }
    &.active {
      a {
        border-color: rgba(0,0,0,0.6);
        background: #fff;
        color:#64615B;
      }
    }
  }

}
