<nav class="navbar navbar-static-top animated fadeInDown" ng-hide="$root.hideControls">
  <div class="container">
    <div class="col-md-4 text-center">
      <a ui-sref="home">
        <img ng-src="assets/images/axinom-logo.png" alt="" style="width: 150px"/>
      </a>
    </div>

    <div class="col-md-8" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="home">Heat Logging</a></li>
        <li ui-sref-active="active"><a ui-sref="timelog">Time Logging</a></li>
        <li ui-sref-active="active"><a ui-sref="heatmap">Heat Analysis</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="office">Office <i class="icon-clock-o"></i></a></li>
        <li ui-sref-active="active"><a ui-sref="settings">User <i class="icon-cog"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
