<div class="office-data">
  <div class="row no-margin ">
    <div class="col-md-2 no-padd">
      <div class="form-group search-employee">
        <label>Find employees</label>
        <input type="text" class="form-control" ng-model="searchEmployee" placeholder="Find an employee">
      </div>
    </div>
    <div class="col-md-10 text-center month padding: 0.8em 0;"><i class="glyphicon glyphicon-chevron-left"></i>      November 2015<i class="glyphicon glyphicon-chevron-right"></i>  </div>
  </div>
  <div class="row data-row" data-ng-repeat="employee in employees | filter: searchEmployee "  ng-class="{active: $scope.openControls}">
    <div class="col-md-2 no-padd">
      <div class="employee-name text-right">{{employee.name}}</div>
    </div>
    <div class="col-md-10 ">
      <ul class="calendar">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li class="sick-day">6</li>
        <li class="sick-day">7</li>
        <li class="sick-day">8</li>
        <li class="sick-day">9</li>
        <li class="sick-day">10</li>
        <li>11</li>
        <li>12</li>
        <li>13</li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li class="holiday">18</li>
        <li class="holiday">19</li>
        <li class="holiday">20</li>
        <li class="holiday">21</li>
        <li>22</li>
        <li>23</li>
        <li>24</li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>

      </ul>
      <div class="row log-controls">
        <div class="col-md-6">
          <form class="form-inline">
            <div class="form-group">
              <!--<label class="sr-only">Email</label>-->
              <p class="form-control-static">Mark selected days as:</p>
            </div>
            <div class="form-group">
              <label class="sr-only">Mark selected days</label>

              <select class="form-control" id="log_type">
                <option>Holidays</option>
                <option>Sick days</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary confirm-days" onclick="confirmDays('holiday')">Confirm</button>
            <button type="submit" class="btn btn-default close-controls">Close</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  setTimeout(function(){
    $('.calendar li').click(function(){
      $(this).toggleClass('active');
      $('.log-controls:first').addClass('active');
      console.log('Fired')
    });
    $('.confirm-days').click(function(){
      $('.calendar li.active').removeClass('active').addClass('holiday');
    })

    function confirmDays(type) {
      $('.confirm-days').click(function(){
        console.log('I am in');
        $('.calendar li.active').removeClass('active').addClass(type);
      })
    }
    $('.close-controls').click(function(){
      $('.calendar li.active').removeClass('active');
      $(this).parents('.log-controls').removeClass('active')
    })
  }, 100);

  var type = function getType(){

  };

  function confirmDays(type) {
    $('.confirm-days').click(function(){
      console.log('I am in');
      $('.calendar li.active').removeClass('active').addClass(type);
    })
  }

</script>