.calendar {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin: 0.8em 0;
  li {
    list-style: none;
    display: inline-block;
    padding: 3px 5px 3px 5px;
    min-width: 25px;
    text-align: center;
    cursor: pointer;
    color:#fff;
    border-radius: 20px;
    &:hover {
      background: #fff ;
      color:#333;

    }
    &.sick-day, &.sick-day:hover {
     background: $color-yellow;
     color: #fff;
    }
    &.holiday, &.holiday:hover {
      background: $color-magenta;
      color: #fff;
    }
    &.army, &.army:hover {
      background: $color-olive;
      color: #fff;
    }
    &.pregnancy, &.pregnancy:hover {
      background: $color-pink;
      color: #fff;
    }
    &.active, &.active:hover {
      border:1px solid $brand-success;
      background: $brand-success;
      color: #fff;
    }

  }
  &.dates-disabled {
    li {
      opacity: 0.2;
    }
  }
}
.date-range {
  padding: 3px;
  border: 1px solid;
  font-size: 0.9em;
}
.employee-name {
  padding: 1em 1em 1em 2em;
  color:#fff;
}
.search-employee {
  padding: 1em;
  margin-bottom: 0;
  .form-control {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.58);
    border-radius: 50px;
    border: 2px solid #fff;
  }
}
.office-data {
  padding: 0;
  margin: 0 2em;
  .month {
    position: relative;
    padding: 0.8em 0;
    font-size: 2em;
    color: #fff;
    i {
      font-size: 0.7em;
      color: #fff;
      &:first-child {
        margin-right: 15px;
      }
      &:last-child {
        margin-left: 15px;
      }
    }
  }
}
.color-legend {
  -webkit-padding-start: 0;
  margin: 1em 0;
  ul {
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
  }
  li {
    list-style: none;
    margin-bottom: 1em;
    display: inline-block;
  }
  p {
    margin: 0;
    margin-left: 0.3em;
    display: inline-block;
    font-size: 0.8em;
    color: #fff;
  }
  span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    border-radius: 20px;
    &.sick-day {
      background: $color-yellow;
    }
    &.holiday {
      background: $color-magenta;
    }
    &.army {
      background: olive;
    }
    &.pregnancy {
      background: $color-pink;
    }
  }
}

.data-row {
  border-bottom:1px solid rgba(255, 255, 255, 0.4);
  margin: 0;
  &.active {
    //margin: -1em;
    background: #fff;
    box-shadow: 1px 1px 10px #ccc;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}
.log-controls {
  display: none;
  &.active {
    display: block;
  }
  .office-form {
    padding: 1em;
    margin: 0.5em;
    color:#fff;
    .dropdown-menu {
      padding-right: 25px;
      background: #333;
      .btn-group  {
        .btn, .btn.btn-sm.btn-success {
          width: auto;
          padding: 0.3em 1.2em!important;
          &.btn-info {
            color: #333!important;
          }
        }
      }
    }
    .form-group {
      margin-right: 1em;
      label {
        margin-right: 1em;
      }
    }
    .form-control {
      height: 36px;
      background-color: rgba(255, 255, 255, 0.58);
      border-radius: 50px;
      border: 2px solid #fff;
    }
    .btn {
      padding: 0.6em 1.5em;
      font-size: 0.9em;
    }
    .form-control.date-picker {
      height: 34px;
    }
  }
}
table {
  outline: none;
}
