/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #01cafe;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
//$font-family-sans-serif: 'Oswald', sans-serif!default;
//$font-family-sans-serif: 'Raleway', sans-serif!default;
$font-family-sans-serif: 'Roboto Condensed', sans-serif!default;
//$font-family-base: 'Raleway', sans-serif!default;
$border-radius-base:        4px !default;
$border-radius-large:       50px !default;
$border-radius-small:       3px !default;
$brand-primary:         #2f8bb1!default; // #337ab7
$brand-success:         #69aa5b !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d56966 !default;
$grid-gutter-width:         10px !default;
$color-olive: #b2e6ad;
$color-yellow: #ffbc1a;
$color-magenta: #41b7bb;
$color-pink: #bd65b0;

$font-bold:700;
$font-regular:400;
$font-light:300;
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import "../assets/fonts/icons.css";

.browsehappy {
  margin: 0.2em 0 ;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  height: 100%;
}
body {
  background: #9c9c9c url("../assets/images/body-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container-fluid {
  padding: 0;
}


.today-date {
  font-size: 2em;
  margin: 1em 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  .day {
    margin: 0 0.3em;
    padding: 0.4em 0.5em;
    background: rgba(82, 82, 82, 0.88);
    border-radius: 100px;
    font-size: 1.5em;
  }
}
// General style
.box {
  padding: 1em 0;
  margin-bottom: 2em;
  .time-period {
    position: absolute;
    top: 11px;
    left: 27px;
    font-size: 1em;
  }
  .header {
    position: relative;
    padding: 0 0 2em 2em;
  }
  .footer {
    margin: 0;
    padding: 1em 2em;
    /* background: #DADADA; */
    margin-bottom: 0;
    margin-top: 1em;
  }
  h1, h2 {
    margin: 0;
    color:#8a8a8a;
  }
  h1 {
    font-size: 1.5em;
    color:#fff;
    font-weight: $font-bold;
    text-transform: uppercase;

  }
  h2 {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: none;
    margin-top: 0.8em;
    color: #ccc;

  }
  &.heat-log {

    .header {
      padding-bottom: 0;
    }
  }
}
.heat-log-projects {
  display: inline;
  width: 33.3333%;
  .heat-log h1 {
    text-align: center;
    font-size: 1em;
    color: #fff;
    margin-bottom: 0.5em;
  }
  .heat-btn {
    width: auto;
    padding: 2em;
  }

}

.form-control {
  &.date-picker {
    border: 2px solid #fff;
    height: 36px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.58);
    border-radius: 50px;
    border: 2px solid #fff;

  }
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #909;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #909;
  opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #909;
  opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #909;
}
input:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #909;
}

// Slider
.project-log {
  rzslider {
    margin: 38px 0 15px 0;
  }
  rzslider span.rz-bubble {
    color: #fff;
  }
}
rzslider span.rz-bar {
  background: #fff;
}
.rz-limit {
  display: none;
}
rzslider span.rz-bar-wrapper {
  margin-top: -26px;
}

rzslider span.rz-pointer {
  top: -26px;
  background-color: $color-olive;
}
rzslider span.rz-pointer.rz-active:after {
  background-color: #68655f;
}
rzslider span.rz-pointer:after {
  background-color: #fff;
}
rzslider span.rz-bubble {
  bottom: 29px;
  color: #fff;
}
rzslider span.rz-bar.rz-selection {
  background-color: $color-olive;
}
rzslider span.rz-bar {
  height: 2px;
}

// Buttons
.btn {
  border-radius: 50px;
  border: 2px solid;
  padding: 1em 1em;
  text-transform: uppercase;
  padding: 1em 1.5em;
  font-size: 0.8em;
  color: #fff;
  background: transparent;
  font-weight: $font-bold;
  &:hover, &:active {
    background-color: transparent;
    border-color: #fff;
    color:#333;
  }
  &.btn-ico {
    color: $brand-primary;
    font-size: 34px ;
    padding: 0;
    border: none;
  }
  &.btn-success.active {
    color: #5D5D5D;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
  }
}
.btn-primary {
  background: #fff;
  color: #64615B;
  border-color: #fff;
  &.btn-filter {
    //margin-top: 25px;
    margin-left: -33px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.92em 1em;
    &:hover {
      background: #5C5B58;
    }

  }
  &:hover, &:active, &:focus {
    background: rgba(255, 255, 255, 0.4);
    color: #fff;

  }
}
.btn-success:focus, .btn-success.focus, .btn-success:hover, .btn-success:active {
  background: none;
  color:#fff;
  border-color: #fff;
}
.btn-secondary {
  border-color: #fff;
  color: #fff;
  &:hover, &:active, &:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.4);
  }
}


// Chosen
.chosen-container {
  width: 100%!important ;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('chosen-sprite.png') no-repeat 0px 10px;
}
.chosen-container-single .chosen-single {
    height: 40px;
    line-height: 40px;
}
.chosen-container-single .chosen-single span {
  font-size: 1em;
  font-family: sans-serif;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
  font-size: 1.2em;
  padding: 0.2em 0.8em;
  background-color: #F3F3F3;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 20px ;
}

// Chosen inputs styling
.chosen-container {
  .chosen-results {
    li {
      font-family: sans-serif;
      color: #666;
      line-height: 1.5em;
      padding: 0.5em 1em;
    }
  }
}
.chosen-container-multi {
  .chosen-choices {
    line-height: 2.7em;
    border-radius:3px;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.48);

    li {
      font-family: sans-serif ;
      color: #666;
        &.search-choice {
          line-height: 1.6em;
          font-family: sans-serif;
          color: #666;
          padding: 3px 26px 3px 13px;
          border: 1px solid #aaa;
          border-radius: 50px;
          .search-choice-close {
            top:8px;
            right: 7px;
          }
        }
      &.search-field {
        input[type="text"] {
          padding: 1em;
        }
      }
    }
  }
}
.chosen-container-multi .chosen-choices {
  height: 36px;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 50px;
  border: 2px solid #fff;
}
// Range datepicker styling
.range_inputs {
  .btn {
    color: $brand-primary;
    padding: 0.3em 2em;
    font-size: 1.3em;
    &.btn-success:hover {
      border-color: $brand-primary;
      background: $brand-primary;
      color:#fff;
    }
    &.btn-default {
      color: #A0A0A0;
      &:hover {
        border-color: #A0A0A0;
        background: #A0A0A0;
        color:#fff;
      }
    }
  }
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: $brand-primary;
  border-color: $brand-primary ;
}

// Helpers
.top10 {
  margin-top: 10px ;
}
.full-w {
  width: 100%!important;
}
.t-row {
  display: table-row;
}
.t-cell {
  display: table-cell ;
}
.no-margin {
  margin: 0;
}
.no-padd {
  padding: 0;
}
.bottom10 {
  margin-bottom: 10px!important;
}
.bottom20 {
  margin-bottom: 20px!important;
}
.p-left40 {
  padding-left: 40px;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
