/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #01cafe;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
//$font-family-sans-serif: 'Oswald', sans-serif!default;
//$font-family-sans-serif: 'Raleway', sans-serif!default;
$font-family-sans-serif: 'Roboto Condensed', sans-serif!default;
//$font-family-base: 'Raleway', sans-serif!default;
$border-radius-base:        4px !default;
$border-radius-large:       50px !default;
$border-radius-small:       3px !default;
$brand-primary:         #00adee!default; // #337ab7
$brand-success:         #8bc53f !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #f16c54 !default;
$grid-gutter-width:         10px !default;

$font-bold:700;
$font-regular:400;
$font-light:300;
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import "../assets/fonts/icons.css";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
}
body {
  background: #9c9c9c url("../assets/images/body-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container-fluid {
  padding: 0;
}

// General style
.box {
  background: #fff;
  border:1px solid #ccc;
  box-shadow: 2px 2px 25px -10px #000;
  padding: 1em 0;
  margin-bottom: 2em;
  .time-period {
    position: absolute;
    top: 11px;
    left: 27px;
    font-size: 1em;
  }
  .header {
    position: relative;
    padding: 1em 0 2em 2em;
  }
  .footer {
    margin: 0;
    padding: 1em 2em;
    /* background: #DADADA; */
    margin-bottom: 0;
    margin-top: 1em;
  }
  h1, h2 {
    margin: 0;
    color:#8a8a8a;
  }
  h1 {
    font-size: 30px;
    font-weight: $font-bold;
    text-transform: uppercase;

  }
  h2 {
    font-size: 21px;
    font-weight: $font-regular;
    text-transform: none;

  }
  &.heat-log {
    .header {
      padding-bottom: 0;
    }
  }
}

//  Heat Buttons
.heat-log-item {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;

}
@for $i from 1 to 10 {
  .heat-log-item:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
}
.heat-btn {
  position: relative;
  display: table-cell;
  padding: 0 1em 0 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  width: 33.33333%;
  span {
    display: block;
    padding: 0.8em 1.5em 0.8em 1.5em;
    background-color: #ccc;
    border-radius: 100px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    font-size: 1.2em;
    text-align: left;
    line-height: 1.1em;
    box-shadow: 2px 2px 25px -10px #000;
  }
  &.blue-level {
    span {
      background: $brand-primary;
    }
    &.selected {
      span {
        background:$brand-primary url("../assets/images/check-mark.png") no-repeat top right;
      }
    }
  }
  &.green-level {
    span {
      background: $brand-success;
    }
    &.selected {
      span {
        background:$brand-success url("../assets/images/check-mark.png") no-repeat top right;
      }
    }
  }
  &.red-level {
    span {
      background: $brand-danger;
    }
    &.selected {
      span {
        background:$brand-danger url("../assets/images/check-mark.png") no-repeat top right;
      }
    }
  }
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: #fff;
  }
  &:active {
    top:1px;
    outline: none;
  }
}
@for $i from 1 to 10 {
  .heat-btn:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
}

.form-control {
  &.date-picker {
    border: 2px solid #fff;
    height: 36px;
    color: #333;
    padding: 1em;
    border-radius: 3px;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 1);

  }
}

// Slider
.project-log {
  rzslider {
    margin: 38px 0 15px 0;
  }
  rzslider span.rz-bubble {
    color: $brand-primary;
  }
}
rzslider span.rz-bar {
  background: #fff;
}
.rz-limit {
  display: none;
}
rzslider span.rz-bar-wrapper {
  margin-top: -26px;
}

rzslider span.rz-pointer {
  top: -26px;
}
rzslider span.rz-bubble {
  bottom: 29px;
  color: #fff;
}

// Buttons
.btn {
  border-radius: 50px;
  border: 2px solid;
  padding: 1em 1em;
  text-transform: uppercase;
  padding: 0.7em 1.5em;
  color: #fff;
  background: transparent;
  font-weight: $font-bold;
  &:hover, &:active {
    background-color: #fff;
    border-color: #fff;
    color:#333;
  }
  &.btn-ico {
    color: $brand-primary;
    font-size: 34px;
    padding: 0;
    border: none;
  }
  &.btn-success.active {
    color: #5D5D5D;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
  }
}
.btn-primary {
  border-color: $brand-primary;
  background: $brand-primary;
  &.btn-filter {
    margin-top: 25px;
    margin-left: -21px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.52em 1em;

  }
  &:hover, &:active, &:focus {
    background: darken($brand-primary, 5);
    border-color: darken($brand-primary, 5);
    color: #fff;

  }
}
.btn-secondary {
  border-color: #8a8a8a;
  color: #8a8a8a;
}

// Chosen
.chosen-container {
  width: 100%!important ;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('chosen-sprite.png') no-repeat 0px 10px;
}
.chosen-container-single .chosen-single {
    height: 40px;
    line-height: 40px;
}
.chosen-container-single .chosen-single span {
  font-size: 1em;
  font-family: sans-serif;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
  font-size: 1.2em;
  padding: 0.2em 0.8em;
  background-color: #F3F3F3;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 20px ;
}

// Chosen inputs styling
.chosen-container {
  .chosen-results {
    li {
      font-family: sans-serif;
      color: #666;
      line-height: 1.5em;
      padding: 0.5em 1em;
    }
  }
}
.chosen-container-multi {
  .chosen-choices {
    line-height: 2.7em;
    border-radius:3px;
    border: 1px solid #FFF;
    background-color: rgba(255, 255, 255, 0.48);

    li {
      font-family: sans-serif ;
      color: #666;
        &.search-choice {
          line-height: 1.7em;
          font-family: sans-serif;
          color: #666;
          padding: 3px 26px 3px 13px;
          border: 1px solid #aaa;
          border-radius: 50px;
          .search-choice-close {
            top:8px;
            right: 7px;
          }
        }
      &.search-field {
        input[type="text"] {
          padding: 1em;
        }
      }
    }
  }
}

// Range datepicker styling
.range_inputs {
  .btn {
    color: $brand-primary;
    padding: 0.3em 2em;
    font-size: 1.3em;
    &.btn-success:hover {
      border-color: $brand-primary;
      background: $brand-primary;
      color:#fff;
    }
    &.btn-default {
      color: #A0A0A0;
      &:hover {
        border-color: #A0A0A0;
        background: #A0A0A0;
        color:#fff;
      }
    }
  }
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: $brand-primary;
  border-color: $brand-primary ;
}

// Helpers
.top10 {
  margin-top: 10px ;
}
.full-w {
  width: 100%!important;
}
.t-row {
  display: table-row;
}
.t-cell {
  display: table-cell ;
}
.no-margin {
  margin: 0;
}
.no-padd {
  padding: 0;
}
.bottom10 {
  margin-bottom: 10px!important;
}
.bottom20 {
  margin-bottom: 20px!important;
}
.p-left40 {
  padding-left: 40px;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
