<div class="container">
  <div class="row heat-log-item">
    <div class="col-md-10 col-md-offset-1">
      <div class="heat-log box row">
          <span class="time-period">
            3 Nov 2015
          </span>
        <div class="header col-md-3">
          <h1>How is your</h1>
          <h2>working situation today?</h2>
        </div>
        <div class="btn-group col-md-9">
          <a class="heat-btn blue-level" ui-sref="timelog">
          <span>
            Please give me <br>
            something to do
          </span>
          </a>
          <a class="heat-btn green-level" ui-sref="timelog">
          <span>
            I have enough work<br>
            thanks
          </span>
          </a>
          <a class="heat-btn red-level" ui-sref="timelog">
          <span>
            F#$k off <br>
            please
          </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row heat-log-item">
    <div class="col-md-10 col-md-offset-1">
      <div class="heat-log box row">
        <span class="time-period">
            Week 32 (current week)
          </span>
        <div class="header col-md-3">
          <h1>Project X</h1>
          <h2>Heat level</h2>
        </div>
        <div class="btn-group col-md-9">
          <a class="heat-btn blue-level" href="">
          <span>
            Please give u <br>
            something to do
          </span>
          </a>
          <a class="heat-btn green-level" href="">
          <span>
            We have enough work<br>
            thanks
          </span>
          </a>
          <a class="heat-btn red-level" href="">
          <span>
            F#$k off <br>
            please
          </span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $('.heat-btn').click(function(){
    $('.heat-btn').removeClass('selected') ;
    $(this).addClass('selected') ;
  })
</script>