<div class="container">
  <div class="row heat-log-item">
    <div class="col-md-12">
      <div class="today-date text-center">
        <span class="month">{{date | date:'MMM'}}</span>
        <span class="day">{{date | date:'dd'}}</span>
        <span class="year">{{date | date:'yyyy'}}</span>
      </div>
      <div class="text-center">
        <h1>How is your</h1>
        <p>working situation today?</p>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="heat-log box row">
        <div class="btn-group col-md-12 text-center">
          <a class="heat-btn blue-level">
            Give me smthg to do
          </a>
          <a class="heat-btn green-level">
            I have enough work
          </a>
          <a class="heat-btn red-level">
            Don't bother me
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 heat-log-item heat-log-projects">
      <div class="text-center">
        <h1 class="project-header"><span>Units heat level</span></h1>
        <p>WEEK {{date | date:'w'}}</p>
      </div>
      <div class="heat-log box row">
        <h1>Project managers</h1>
        <div class="btn-group col-md-12 text-center">
          <a class="heat-btn blue-level">
          </a>
          <a class="heat-btn green-level">
          </a>
          <a class="heat-btn red-level">
          </a>
        </div>
      </div>

    </div>

  </div>




</div>

<script type="text/javascript">
  $('.heat-btn').click(function(){
    $('.heat-btn').removeClass('selected') ;
    $(this).addClass('selected') ;
  })
</script>