// Heatmap
.heatmap-controls {
  background-color: rgba(0,0,0,0.3);
  padding: 1em 2em;
  margin-top: -20px;
  position: relative;
  z-index: 100;
  h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: $font-bold;
    letter-spacing: 0.1em;
    margin-top: 0;
  }
  &.active {
    position: fixed;
    width: 100%;
    top: 20px;
    z-index: 9999;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 -10px 20px #000;
  }
}
.heatmap-playback {
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em 0 0 0;
  rzslider span.rz-bar-wrapper {
    margin-top: -26px;
    height: 36px;
    color: #333;
    padding: 1em;
    border-radius: 3px;
    //border: 1px solid #FFF;
    //background-color: white;
  }
  rzslider span.rz-bubble {
    bottom: 37px;
    color: #fff;
  }

}
.heatmap-playback-controls, .heatmap-playback-timeline {
  display: table-cell;
  vertical-align: middle;
}
.heatmap-playback-controls {
  a {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    display: inline-block;
    border-radius: 0 30px 30px 0;
    background: #00ADEE;
    padding: .1em 1.4em;
    margin-top: 1.1em;
    margin-left: -.2em;
    z-index: 100;
    position: Relative;
    height: 1.7em;
    border-radius: 24px;
    i {
      position: absolute;
      top: 0.34em;
      left: 1.1em;
    }
  }
}
.heatmap {
  .btn-group {
    position: absolute;
    top: 0.43em;
    width: 20%;
    right: 2.5em;
    display: table;
    z-index: 10;
  }
}
.heat-log {
  margin-bottom: 2em;
}
// Chart
#chart {
  background: transparent;
  width: 100%;
}

.parent .label, .unit.label {
  font-size: 18px;
}
.cell {
  overflow: hidden;
  .unit.value {
    margin-top: 30px;
    margin-left: 10px;
    color:#333;
  }
}
.label {
  font-size: 1em;
  &.value {
    font-size: 0.8em;
    display: block;
    text-align: left;
    color: #333!important;
  }
}
.btn-group {
  .btn {
    padding: 0.2em 0;
    width: 50%;
  }
  &.radio {
    padding: 0 2em;
    .btn{
      padding: 0.5em 2em;
      width: inherit ;
    }
  }
}